Helpers/Connected Services/ServiceReference_Mail/Mail4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PrestigeMailService.WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PrestigeMailService.WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv-app07.parlement.intra/MailService/Mail.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MailService.Data.Models" />
  <xs:import schemaLocation="http://srv-app07.parlement.intra/MailService/Mail.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://srv-app07.parlement.intra/MailService/Mail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MailParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MailService.Data.Models" minOccurs="0" name="Attachements" nillable="true" type="q1:ArrayOfAttachement" />
      <xs:element minOccurs="0" name="MailCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailTo" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametres" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="TemplateId" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailParams" nillable="true" type="tns:MailParams" />
  <xs:complexType name="AlertParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndGap" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Gap" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Interval" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="RefAlert" type="ser:guid" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertParams" nillable="true" type="tns:AlertParams" />
  <xs:complexType name="ArrayOfWsItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WsItem" nillable="true" type="tns:WsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWsItem" nillable="true" type="tns:ArrayOfWsItem" />
  <xs:complexType name="WsItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsItem" nillable="true" type="tns:WsItem" />
</xs:schema>